<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="all" />
</head>
<style>
  /* Style for the watermark */
  .watermark {
    position: fixed; /* Fixed position so it stays in the same place */
    top: 45%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to center */
    opacity: 0.06; /* Makes the watermark faint */
    z-index: -1; /* Places it behind other content */
  }
  /* Ensure the watermark doesn't exceed the size of the container */
  .watermark img {
    max-width: 100%; /* Responsive */
    max-height: 100%; /* Responsive */
  }
</style>
<body>
  <div class="watermark">
    <img src="/images/qaderikt.jpg" alt="Watermark" />
  </div>
  <div>
    <div class="py-4">
      <div class="px-14 py-6">
        <table class="w-full border-collapse border-spacing-0">
          <tbody>
            <tr>
              <td class="w-full align-top">
                <div>
                  <img src="images/qaderikt.jpg" class="h-12" />
                </div>
              </td>

              <td class="align-top">
                <div class="text-sm">
                  <table class="border-collapse border-spacing-0">
                    <tbody>
                      
                      <tr>
                        <td class="border-r pr-4">
                          <div>
                            <p class="whitespace-nowrap text-slate-400 text-right">Date</p>
                            <p class="whitespace-nowrap font-bold text-main text-right"><%= p.createdAt.toString().slice(0, 15) %></p>
                          </div>
                        </td>
                        <td class="pl-4">
                          <div>
                            <p class="whitespace-nowrap text-slate-400 text-right">Invoice #</p>
                            <p class="whitespace-nowrap font-bold text-main text-right"><%=p.billno%></p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="bg-slate-100 px-14 py-6 text-sm">
        <table class="w-full border-collapse border-spacing-0">
          <tbody>
            <tr>
              <td class="w-1/2 align-top">
                <div class="text-sm text-neutral-600">
                  <p class="font-bold">ْQaderi Kabul Time</p>
                  <p>Phone #: (+93) 777 600 700</p>
                  <p>Address: Karte 4, Front of Ghazi high school, Kabul</p>
                </div>
              </td>
              
              <td class="w-1/2 align-top text-right">
                <div class="text-sm text-neutral-600">
                  <% cus.forEach(function(c){%>
                    <% if(c.name===p.customern){%>
                  <p class="font-bold"><%=c.name%></p>
                  <p>phone #: <%=c.phone%></p>
                  <p>Address: <%=c.address%></p>
                      <%}%>
                  <%})%>
              </td>
            </tr> 
           
          </tbody>
        </table>
      </div>

      <div class="px-14 py-10 text-sm text-neutral-700">
        <table class="w-full border-collapse border-spacing-0">
          <thead>
            <tr>
              <td class="border-b-2 border-main pb-3 pl-3 font-bold text-main">#</td>
              <td class="border-b-2 border-main pb-3 pl-2 font-bold text-main">Product details</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-right font-bold text-main">Unit</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold text-main">Price</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold text-main">Qty.</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-right font-bold text-main">Total</td>
            </tr>
          </thead>
          <tbody>
            <% var b=0 %>
                      <% bb.forEach(function(p){%>
            <tr>
              <td class="border-b py-3 pl-3"><%= b+=1 %>.</td>
              <td class="border-b py-3 pl-2"><%=p.item %></td>
              <td class="border-b py-3 pl-2 text-right"><%=p.unit %></td>
              <td class="border-b py-3 pl-2 text-center"><%=p.price %></td>
              <td class="border-b py-3 pl-2 text-right"><%=p.quantity %></td>
              <td class="border-b py-3 pl-2 pr-3 text-right"><%=p.totalAmount %></td>
            </tr>
            <%})%>
            <tr>
              <td colspan="7">
                <table class="w-full border-collapse border-spacing-0">
                  <tbody>
                    <tr>
                      <td class="w-full"></td>
                      <td>
                        <table class="w-full border-collapse border-spacing-0">
                          <tbody>
                            
                              <tr>
                                <td class="bg-main p-3">
                                  <div class="whitespace-nowrap font-bold text-white">Total:</div>
                                </td>
                                <td class="bg-main p-3 text-right">
                                  <div class="whitespace-nowrap font-bold text-white"><%=p.Total%> <%=p.currency%></div>
                                </td>
                              </tr>
                              <tr>
                              <td class="border-b p-3">
                                <div class="whitespace-nowrap text-slate-400">Disscount:</div>
                              </td>
                              <td class="border-b p-3 text-right">
                                <div class="whitespace-nowrap font-bold text-main"><%=p.discount%></div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-3">
                                <div class="whitespace-nowrap text-slate-400">Paid:</div>
                              </td>
                              <td class="p-3 text-right">
                                <div class="whitespace-nowrap font-bold text-main"><%=p.Paid%></div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-3">
                                <div class="whitespace-nowrap text-slate-400">Remain:</div>
                              </td>
                              <td class="p-3 text-right">
                                <div class="whitespace-nowrap font-bold text-main"><%=p.remain%></div>
                              </td>
                            </tr>
                          
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="px-14 py-10 text-sm text-neutral-700">
        <p class="text-main font-bold">Notes</p>
        <p class="italic">Thank you for your business! We appreciate your trust in us.</p>
        </dvi>

        <footer class="fixed bottom-0 left-0 bg-slate-100 w-full text-neutral-600 text-center text-xs py-3">
          Qaderi Kabul Time
          <span class="text-slate-300 px-2">|</span>
          Qaderikabultime@gmail.com
          <span class="text-slate-300 px-2">|</span>
          +93-700-494-917
        </footer>
      </div>
    </div>
</body>

</html>
